body {
  font-family: roboto;
}

* {
  margin: 0;
}

h2, .header__name {
  font-family: Shrikhand;
}

.animation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
  bottom: 1.5px;
  font-size: 0;
  height: auto;
  font-weight: bold;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  background: content-box -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background: content-box linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes style {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes style {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.meal__entree-1 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.meal__entree-2 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.meal__entree-3 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.meal__entree-4 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

.meal__plat-1 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.meal__plat-2 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
}

.meal__plat-3 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 2.6s;
          animation-duration: 2.6s;
}

.meal__dessert-1 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.meal__dessert-2 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}

.meal__dessert-3 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 3.8s;
          animation-duration: 3.8s;
}

.loader {
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  -webkit-animation: loader;
          animation: loader;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: opacity 10s ease-in-out;
  transition: opacity 10s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader__page {
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 10px white;
  border-top-color: #ff79da;
  border-bottom-color: #99e2d0;
  border-radius: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: rotate linear infinite;
          animation: rotate linear infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.loader__page .fork {
  font-size: 50px;
}

.loader span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  font-family: Shrikhand;
  font-size: 50px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    z-index: -1;
  }
}

@keyframes loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    z-index: -1;
  }
}

footer {
  background-color: #353535;
  padding-bottom: 15px;
  width: 100%;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  color: #FFF;
  margin-bottom: 5px;
}

@media screen and (min-width: 900px) {
  footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 250px;
    bottom: 250px;
  }
}

footer .footer_name {
  font-family: shrikhand;
  margin-left: 20px;
  padding-top: 15px;
  margin-bottom: 15px;
  color: #fff;
}

@media screen and (min-width: 900px) {
  footer .footer_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .p, footer .flex p {
  margin-left: 10PX;
  color: #fff;
  margin-bottom: 5px;
}

@media screen and (min-width: 900px) {
  footer .p, footer .flex p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer i {
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer__restaurant {
  position: absolute;
  top: 1340px;
}

@media screen and (min-width: 900px) {
  .footer__restaurant {
    top: 870px;
  }
}

.footer__restaurant__note {
  position: absolute;
  top: 1420px;
}

@media screen and (min-width: 900px) {
  .footer__restaurant__note {
    top: 870px;
  }
}

.header__name {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-decoration: none;
  color: black;
}

header a h2 {
  margin-left: 25%;
}

@media screen and (min-width: 900px) {
  header a h2 {
    margin-left: 40%;
  }
}

header a i {
  font-size: 20px;
  padding-top: 10px;
  margin-left: 10px;
}

.header__image {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  height: 20%;
  background-color: rgba(201, 193, 193, 0.384);
}

.place .searchInput {
  border: none;
  background-color: rgba(201, 193, 193, 0.384);
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
}

.place .place__icon {
  padding-right: 12px;
  padding-bottom: 2px;
}

.exploreur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 15px;
  background-color: #f1efef;
}

.exploreur .exploreur__slogan {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}

.exploreur .exploreur__slogan2 {
  text-align: center;
  padding: 5px;
}

.exploreur .exploreur__btn {
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.exploreur .exploreur__btn:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.dishes {
  padding: 10PX;
  background-color: #ebe8e8;
}

.dishes .restaurant {
  font-weight: bold;
  font-size: 23px;
  padding-left: 20px;
  padding-top: 15px;
  margin-bottom: 18px;
  font-family: roboto;
}

@media screen and (min-width: 900px) {
  .dishes .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
}

@media screen and (min-width: 900px) {
  .dishes .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
    padding-top: 10px;
  }
}

.dishes .card .card__name {
  background-color: #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 250px;
  width: 90%;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.dishes .card .card__name img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dishes .card .card__name span {
  font-weight: lighter;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 50%;
  color: black;
}

.dishes .card .card__name p {
  margin-left: 10px;
  margin-top: 10px;
  color: black;
}

.dishes .card .card__name a {
  text-decoration: none;
}

.dishes .card .card__name .card__new {
  position: absolute;
  right: 10%;
  top: 10%;
  background-color: #a1e2a1;
  color: green;
  padding: 5px;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-name: clignoter;
          animation-name: clignoter;
  -webkit-animation-iteration-count: 8;
          animation-iteration-count: 8;
  -webkit-transition: none;
  transition: none;
}

@-webkit-keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dishes .card .card__name .card__heart {
  position: absolute;
  right: 28px;
  bottom: 17px;
  font-size: 1.2em;
  width: 18.5px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .dishes .card .card__name .card__heart {
    right: 5px;
  }
}

.dishes .card .card__name .card__heart:hover .animation {
  font-size: 21px;
}

section.section__restaurant {
  background-color: #f0eeee;
  border-top-right-radius: 30PX;
  border-top-left-radius: 30px;
  width: 100%;
  position: relative;
  bottom: 25px;
  padding-bottom: 20px;
}

section.section__restaurant .name__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
  position: relative;
}

section.section__restaurant .name__restaurant h2 {
  padding-right: 70px;
  padding-top: 10px;
}

section.section__restaurant .name__restaurant .card__heart {
  position: absolute;
  right: 50px;
  bottom: 3px;
  font-size: 1.2em;
  cursor: pointer;
}

section.section__restaurant .name__restaurant .card__heart:hover .animation {
  font-size: 21px;
}

@media screen and (min-width: 900px) {
  section.section__restaurant .directionrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 15px;
    height: 400px;
  }
}

@media screen and (min-width: 900px) {
  section.section__restaurant .meal__entree {
    width: 30%;
  }
}

section.section__restaurant .meal__entree .entree_plat_dessert {
  font-size: 1.5em;
  margin-left: 22px;
  font-weight: 100;
  width: 40px;
  border-bottom: 5px #99E2D0 solid;
}

section.section__restaurant .meal__entree-1, section.section__restaurant .meal__entree-2, section.section__restaurant .meal__entree-3, section.section__restaurant .meal__entree-4 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .meal__entree-1:hover .meal__repas, section.section__restaurant .meal__entree-2:hover .meal__repas, section.section__restaurant .meal__entree-3:hover .meal__repas, section.section__restaurant .meal__entree-4:hover .meal__repas {
  margin-right: 3em;
  -webkit-transition: margin-right .5s ease-in-out;
  transition: margin-right .5s ease-in-out;
}

section.section__restaurant .meal__entree-1 .meal__repas, section.section__restaurant .meal__entree-2 .meal__repas, section.section__restaurant .meal__entree-3 .meal__repas, section.section__restaurant .meal__entree-4 .meal__repas {
  overflow: hidden;
}

section.section__restaurant .meal__entree-1 .meal__repas h3, section.section__restaurant .meal__entree-1 .meal__repas p, section.section__restaurant .meal__entree-2 .meal__repas h3, section.section__restaurant .meal__entree-2 .meal__repas p, section.section__restaurant .meal__entree-3 .meal__repas h3, section.section__restaurant .meal__entree-3 .meal__repas p, section.section__restaurant .meal__entree-4 .meal__repas h3, section.section__restaurant .meal__entree-4 .meal__repas p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

section.section__restaurant .meal__entree-1:hover .meal__rotate, section.section__restaurant .meal__entree-2:hover .meal__rotate, section.section__restaurant .meal__entree-3:hover .meal__rotate, section.section__restaurant .meal__entree-4:hover .meal__rotate {
  margin-right: -0.5em;
  -webkit-transition: margin-right .5s ease-in-out;
  transition: margin-right .5s ease-in-out;
}

section.section__restaurant .meal__entree-1:hover .meal__rotate .circle-rotate, section.section__restaurant .meal__entree-2:hover .meal__rotate .circle-rotate, section.section__restaurant .meal__entree-3:hover .meal__rotate .circle-rotate, section.section__restaurant .meal__entree-4:hover .meal__rotate .circle-rotate {
  -webkit-animation: rotation;
          animation: rotation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media screen and (min-width: 900px) {
  section.section__restaurant .meal__plat {
    width: 30%;
  }
}

section.section__restaurant .meal__plat .entree_plat_dessert {
  font-size: 1.5em;
  margin-left: 22px;
  font-weight: 100;
  width: 40px;
  border-bottom: 5px #99E2D0 solid;
}

section.section__restaurant .meal__plat-1, section.section__restaurant .meal__plat-2, section.section__restaurant .meal__plat-3 {
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

section.section__restaurant .meal__plat-1:hover .meal__repas, section.section__restaurant .meal__plat-2:hover .meal__repas, section.section__restaurant .meal__plat-3:hover .meal__repas {
  margin-right: 3em;
  -webkit-transition: margin-right .5s ease-in-out;
  transition: margin-right .5s ease-in-out;
}

section.section__restaurant .meal__plat-1 .meal__repas, section.section__restaurant .meal__plat-2 .meal__repas, section.section__restaurant .meal__plat-3 .meal__repas {
  overflow: hidden;
}

section.section__restaurant .meal__plat-1 .meal__repas h3, section.section__restaurant .meal__plat-1 .meal__repas p, section.section__restaurant .meal__plat-2 .meal__repas h3, section.section__restaurant .meal__plat-2 .meal__repas p, section.section__restaurant .meal__plat-3 .meal__repas h3, section.section__restaurant .meal__plat-3 .meal__repas p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

section.section__restaurant .meal__plat-1:hover .meal__rotate, section.section__restaurant .meal__plat-2:hover .meal__rotate, section.section__restaurant .meal__plat-3:hover .meal__rotate {
  margin-right: -0.5em;
  -webkit-transition: margin-right 0.5s ease-in-out;
  transition: margin-right 0.5s ease-in-out;
}

section.section__restaurant .meal__plat-1:hover .meal__rotate .circle-rotate, section.section__restaurant .meal__plat-2:hover .meal__rotate .circle-rotate, section.section__restaurant .meal__plat-3:hover .meal__rotate .circle-rotate {
  -webkit-animation: rotation;
          animation: rotation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media screen and (min-width: 900px) {
  section.section__restaurant .meal__dessert {
    width: 30%;
  }
}

section.section__restaurant .meal__dessert .entree_plat_dessert {
  font-size: 1.5em;
  margin-left: 22px;
  font-weight: 100;
  width: 40px;
  border-bottom: 5px #99E2D0 solid;
}

section.section__restaurant .meal__dessert-1, section.section__restaurant .meal__dessert-2, section.section__restaurant .meal__dessert-3 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .meal__dessert-1:hover .meal__repas, section.section__restaurant .meal__dessert-2:hover .meal__repas, section.section__restaurant .meal__dessert-3:hover .meal__repas {
  margin-right: 3em;
  -webkit-transition: margin-right .5s ease-in-out;
  transition: margin-right .5s ease-in-out;
}

section.section__restaurant .meal__dessert-1 .meal__repas, section.section__restaurant .meal__dessert-2 .meal__repas, section.section__restaurant .meal__dessert-3 .meal__repas {
  overflow: hidden;
}

section.section__restaurant .meal__dessert-1 .meal__repas h3, section.section__restaurant .meal__dessert-1 .meal__repas p, section.section__restaurant .meal__dessert-2 .meal__repas h3, section.section__restaurant .meal__dessert-2 .meal__repas p, section.section__restaurant .meal__dessert-3 .meal__repas h3, section.section__restaurant .meal__dessert-3 .meal__repas p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

section.section__restaurant .meal__dessert-1:hover .meal__rotate, section.section__restaurant .meal__dessert-2:hover .meal__rotate, section.section__restaurant .meal__dessert-3:hover .meal__rotate {
  margin-right: -0.5em;
  -webkit-transition: margin-right .5s ease-in-out;
  transition: margin-right .5s ease-in-out;
}

section.section__restaurant .meal__dessert-1:hover .meal__rotate .circle-rotate, section.section__restaurant .meal__dessert-2:hover .meal__rotate .circle-rotate, section.section__restaurant .meal__dessert-3:hover .meal__rotate .circle-rotate {
  -webkit-animation: rotation;
          animation: rotation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

section.section__restaurant .boutonbloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.section__restaurant .btn__commander {
  border: 1px solid transparent;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  padding: 10px;
  height: 30px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

section.section__restaurant .btn__commander:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

section.section__restaurant .btn__commander p {
  padding-left: 80px;
  padding-top: 5px;
}

section.section__restaurant .meal__rotate {
  position: absolute;
  margin-right: -4em;
  top: 0px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 60px;
}

section.section__restaurant .meal__rotate .meal__rotate__box {
  background-color: #99E2D0;
  color: #fff;
  width: 90px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  font-size: 1.5em;
}

section.section__restaurant .meal__rotate .meal__rotate__box .circle-rotate {
  display: inline-block;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .fonction {
  font-size: 30px;
  width: 85%;
  font-weight: bold;
  display: FLEX;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: roboto;
}

@media screen and (min-width: 900px) {
  .fonctionnement .fonction {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fonctionnement .bouton {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 15px;
  width: 85%;
}

@media screen and (min-width: 900px) {
  .fonctionnement .bouton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
  }
}

.fonctionnement .btn__fonctionnement {
  position: relative;
  margin: 15px;
  background-color: #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  opacity: 0.8;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  width: 100%;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}

.fonctionnement .btn__fonctionnement--number {
  position: absolute;
  padding: 3px 8px 3px 8px;
  left: 0%;
  margin-left: -15px;
  background-color: #9356dc;
  border-radius: 50%;
  font-size: 0.9em;
  color: #fff;
}

.fonctionnement .btn__fonctionnement i {
  font-size: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 900px) {
  .fonctionnement .btn__fonctionnement i {
    margin-left: 20px;
  }
}

.fonctionnement .btn__fonctionnement p {
  font-size: 17px;
}

@media screen and (min-width: 900px) {
  .fonctionnement .btn__fonctionnement p {
    font-size: 17px;
  }
}

.fonctionnement .btn__fonctionnement:hover {
  background-color: #faebfa;
}

.fonctionnement .btn__fonctionnement i:hover {
  color: #9356dc;
}
/*# sourceMappingURL=style.css.map */