footer 
    {
        margin: 0;
        background-color: #353535;
        padding-bottom: 50px;
        .flex
        {
            display: flex;
            padding-left: 15px;
            color: #FFF;
            margin-bottom: 5px;
        }
        .footer_name{
        font-family: shrikhand;
        margin-left: 20px;
        padding-top: 15px;
        margin-bottom: 15px;
        color: #fff;
    }
        .p , .flex p{
            margin-left: 10PX;
            color: #fff;
            margin-bottom: 5px;
            
            
        }
        
        i 
        {
            color: #fff;
        }

        a
        {
            text-decoration: none;
            color: #fff;
        }
    }