footer 
    {
        
        background-color: #353535;
        padding-bottom: 10px;
        .flex
        {
            display: flex;
            padding-left: 15px;
            color: #FFF;
            margin-bottom: 5px;
            @include breakpoint(tablette)
            {
                display: flex;
                justify-content: center;
            }
        
        }
        .footer_name{
        font-family: shrikhand;
        margin-left: 20px;
        padding-top: 15px;
        margin-bottom: 15px;
        color: #fff;
        @include breakpoint(tablette)
        {
            display: flex;
            justify-content: center;
        }
    }
        .p , .flex p{
            margin-left: 10PX;
            color: #fff;
            margin-bottom: 5px;
            @include breakpoint(tablette)
            {
               display: flex;
                justify-content: center; 
            }
            
        }
        
        i 
        {
            color: #fff;
        }

        a
        {
            text-decoration: none;
            color: #fff;
        }
    }