.dishes
{
   
   padding: 10PX;
   background-color: rgb(235, 232, 232);
   
    .restaurant
    {
        font-weight: bold;
        font-size: 23px;
        padding-left: 20px;
        padding-top: 15px;
        margin-bottom: 18px;
    
        @include breakpoint(tablette)
        {
            display: flex;
            justify-content: center;
            padding: 5px;
            
        }
    }

    .card 
    {
        @include breakpoint(tablette)
        {
            display: flex;
            margin-top: 10px;
            padding-right: 30px;
            padding-top: 10px;
        }
    .card__name
    {
        @include card__name ;
        position: relative;
        
            img 
            {
                 width:100%;
                height: 190px;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            
            span
            {
                font-weight: lighter;
                margin-left: 10px;
                margin-bottom: 10px;
                width: 50%;
                color: black;
                
                
            }
            p {
                margin-left: 10px;
                margin-top: 10px;
                color: black;
            }
            a 
            {
                text-decoration: none;
            }

            .card__new
            {
                position: absolute;
                right: 10%;
                top: 10%;
                background-color: rgb(161, 226, 161);
                color: green;
                padding: 5px;
                animation-duration: .8s;
                animation-name: clignoter;
                animation-iteration-count: 8;
                transition: none;
             }
                @keyframes clignoter {
                    0%   { opacity:1; }
                    40%   {opacity:0; }
                    100% { opacity:1; }
                }
        .card__heart
                {
                    position: absolute;
                    right: 28px;
                    bottom: 17px;
                    font-size: 1.4em;
                    cursor: pointer;
                    
                    @include breakpoint(tablette)
                    {
                        right: 5px;
                    }

                    &:hover .animation
                    {
                        font-size: 21px;
                        
                    }
                    
                }   
            }
}
}

section.section__restaurant
{
    background-color: rgb(240, 238, 238);
    border-top-right-radius: 30PX;
    border-top-left-radius: 30px;
    width: 100%;
    position: absolute;
    top: 250px;
    
    
    .name__restaurant
        {
            @include name_restaurant;
            margin-bottom: 20px;
            position:relative;

            h2 {
                padding-right: 70px;
                padding-top: 10px;
            }
            .card__heart
                {
                    position: absolute;
                    right: 50px;
                    bottom: 3px;
                    font-size: 1.4em;
                    cursor: pointer;

                    &:hover .animation
                    {
                        font-size: 21px;
                        
                    }
                } 
        }
    .directionrow
    {
        @include breakpoint(tablette)
        {
            display: flex;
            justify-content: center;
            flex-direction: row;
            justify-content: space-evenly;
            padding:15px;
            height: 400px;
        }
    }
    
    .meal__entree
        {
            @include breakpoint(tablette)
            {
                width: 30%;
            }
            .entree_plat_dessert
             {
                @include entree-plat-dessert;
                    }
                &-1 , &-2 , &-3 , &-4  
                {
                    position: relative;
                    @include card-meal;
                    overflow: hidden;

                    &:hover .meal__repas
                {
                    margin-right: 3em ;
                    transition: margin-right .5s ease-in-out;
                }
                    & .meal__repas
                    {
                        overflow: hidden;
                    
                        h4 , p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 90%;
                            
                        }

                    
                            
                    }
                    
                    &:hover .meal__rotate
                    {
                        margin-right: -0.5em ;
                        transition: margin-right .5s ease-in-out;
                        .circle-rotate
                        {
                            animation: rotation;
                        animation-duration: 1s;
                        }
                    }

                    
                }

        }
    .meal__plat{
        @include breakpoint(tablette)
            {
                width: 30%;
            }

        .entree_plat_dessert
             {
                @include entree-plat-dessert
            }

            &-1 , &-2 , &-3
            {
                @include card-meal;
                position: relative;
                overflow: hidden;
                &:hover .meal__repas
                {
                    margin-right: 3em ;
                    transition: margin-right .5s ease-in-out;
                }
                    & .meal__repas
                    {
                        overflow: hidden;
                    
                        h4 , p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 90%;
                            
                        }
                    }

                &:hover .meal__rotate
                    {
                        margin-right: -0.5em ;
                        transition: margin-right 0.5s ease-in-out;
                        
                        .circle-rotate
                        {
                            animation: rotation;
                        animation-duration: 1s;
                        }
                    }
            }


    }     
        
    .meal__dessert
    {
        @include breakpoint(tablette)
            {
                width: 30%;
            }
        
        .entree_plat_dessert
            {
                @include entree-plat-dessert
            }
            &-1 , &-2 , &-3
            {
                position: relative;
                    @include card-meal;
                    overflow: hidden;
                    &:hover .meal__repas
                {
                    margin-right: 3em ;
                    transition: margin-right .5s ease-in-out;
                }
                    & .meal__repas
                    {
                        overflow: hidden;
                    
                        h4 , p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 90%;
                            
                        }
                    }
                    &:hover .meal__rotate 
                    {
                        margin-right: -0.5em ;
                        transition: margin-right .5s ease-in-out;
                        

                        .circle-rotate
                        {
                            animation: rotation;
                            animation-duration: 1s;
                        }
                    }


                    
                
            }
    }

.boutonbloc
{
    
    display: flex;
    justify-content: center;
}
    .btn__commander
    {
        @include btn-commander ;
        scale: 1;
        transition: all 300ms;
        &:hover
        {
            transform: scale(1.13);
        }

        p 
        {
            
            padding-left: 80px;
            padding-top: 5px;
        }
    }

    .meal__rotate
    {
        position: absolute;
        margin-right: -4em;
        top: 0px;
        right: 5px;
        display: flex;
        align-items: center;
        width: 90px;
        height: 60px;
        
        
        .meal__rotate__box
    {
        background-color: $color-tertiary;
        color: #fff;
        width: 90px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content:center;
        margin-left: 10px;
        font-size: 2em;

        & .circle-rotate
        {
            display: inline-block;
            
            
        }
    }                   
}


}

