
@import "libs/loader";
@import "libs/variable";
@import "libs/utils.scss";
@import "libs/animation";

@import "layout/header";
@import "layout/section";
@import "layout/footer";
@import "layout/btn";

html , body
{
    font-family: roboto;
    
}
*{
    margin: 0;
}

h1
{
    font-family: Shrikhand;
}





