.loader {
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  -webkit-animation: loader;
          animation: loader;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: opacity 10s ease-in-out;
  transition: opacity 10s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader__page {
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 10px white;
  border-top-color: #ff79da;
  border-bottom-color: #99e2d0;
  border-radius: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: rotate linear infinite;
          animation: rotate linear infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.loader__page .fork {
  font-size: 50px;
}

.loader span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  font-family: Shrikhand;
  font-size: 50px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    z-index: -1;
  }
}

@keyframes loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    z-index: -1;
  }
}

.animation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
  bottom: 4px;
  font-size: 0;
  font-weight: bold;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: transparent;
  background-clip: text;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes style {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes style {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.meal__entree-1 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.meal__entree-2 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.meal__entree-3 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.meal__entree-4 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.meal__plat-1 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.meal__plat-2 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.meal__plat-3 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.meal__dessert-1 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

.meal__dessert-2 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

.meal__dessert-3 {
  -webkit-animation: style;
          animation: style;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.header__name {
  font-size: MEDIUM;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-decoration: none;
  color: black;
}

header a h1 {
  padding-left: 20%;
}

header a i {
  font-size: 20px;
  padding-left: 5%;
  padding-top: 10px;
}

.header__image {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  height: 20%;
  background-color: rgba(201, 193, 193, 0.384);
}

.place .searchInput {
  border: none;
  background-color: rgba(201, 193, 193, 0.384);
}

.place .place__icon {
  padding-right: 12px;
  padding-bottom: 2px;
}

.exploreur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 15px;
  background-color: #f1efef;
}

.exploreur .exploreur__slogan {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.exploreur .exploreur__slogan2 {
  text-align: center;
  padding: 5px;
}

.exploreur .exploreur__btn {
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  scale: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.exploreur .exploreur__btn:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.dishes {
  margin-top: 40px;
  padding: 10PX;
  background-color: #ebe8e8;
}

.dishes .restaurant {
  font-weight: bold;
  font-size: 20px;
  padding-left: 22px;
  padding-top: 15px;
}

.dishes .card__name {
  background-color: #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 85%;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.dishes .card__name img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dishes .card__name span {
  font-weight: lighter;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 50%;
  color: black;
}

.dishes .card__name p {
  margin-left: 10px;
  margin-top: 10px;
  color: black;
}

.dishes .card__name a {
  text-decoration: none;
}

.dishes .card__name .card__new {
  position: absolute;
  right: 10%;
  top: 10%;
  background-color: #a1e2a1;
  color: green;
  padding: 5px;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-name: clignoter;
          animation-name: clignoter;
  -webkit-animation-iteration-count: 8;
          animation-iteration-count: 8;
  -webkit-transition: none;
  transition: none;
}

@-webkit-keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dishes .card__name .card__heart {
  position: absolute;
  right: 28px;
  bottom: 17px;
  font-size: 1.4em;
  cursor: pointer;
}

.dishes .card__name .card__heart:hover .animation {
  font-size: 21px;
}

section.section__restaurant {
  background-color: #f0eeee;
  border-top-right-radius: 30PX;
  border-top-left-radius: 30px;
  width: 100%;
  position: absolute;
  top: 250px;
}

section.section__restaurant .name__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
  position: relative;
}

section.section__restaurant .name__restaurant h1 {
  padding-right: 70px;
  padding-top: 10px;
}

section.section__restaurant .name__restaurant .card__heart {
  position: absolute;
  right: 50px;
  bottom: 3px;
  font-size: 1.4em;
  cursor: pointer;
}

section.section__restaurant .name__restaurant .card__heart:hover .animation {
  font-size: 21px;
}

section.section__restaurant .meal__entree .entree_plat_dessert {
  font-size: 1.5em;
  margin-left: 22px;
  font-weight: 100;
  width: 40px;
  border-bottom: 5px #99E2D0 solid;
}

section.section__restaurant .meal__entree-1 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .meal__entree-1 h4 {
  padding-bottom: 5px;
}

section.section__restaurant .meal__entree-2 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .meal__entree-3 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .meal__entree-4 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .meal__plat .entree_plat_dessert {
  font-size: 1.5em;
  margin-left: 22px;
  font-weight: 100;
  width: 40px;
  border-bottom: 5px #99E2D0 solid;
}

section.section__restaurant .meal__plat-1 {
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

section.section__restaurant .meal__plat-2 {
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

section.section__restaurant .meal__plat-3 {
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

section.section__restaurant .meal__dessert .entree_plat_dessert {
  font-size: 1.5em;
  margin-left: 22px;
  font-weight: 100;
  width: 40px;
  border-bottom: 5px #99E2D0 solid;
}

section.section__restaurant .meal__dessert-1 {
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

section.section__restaurant .meal__dessert-2 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .meal__dessert-3 {
  position: relative;
  background-color: #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
}

section.section__restaurant .btn__commander {
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 50%;
  height: 30px;
  margin-left: 70px;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  scale: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

section.section__restaurant .btn__commander:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

section.section__restaurant .btn__commander p {
  padding-left: 60px;
  padding-top: 5px;
}

section.section__restaurant .meal__rotate {
  position: absolute;
  margin-right: -4em;
  top: 0px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 90px;
  height: 100%;
}

section.section__restaurant .meal__rotate:hover {
  margin-right: -0.5em;
  -webkit-transition: margin-right 1s ease-in-out;
  transition: margin-right 1s ease-in-out;
}

section.section__restaurant .meal__rotate .meal__rotate__box {
  background-color: #99E2D0;
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  font-size: 1.5em;
}

section.section__restaurant .meal__rotate .meal__rotate__box:hover .circle-rotate {
  -webkit-animation: rotation;
          animation: rotation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

footer {
  margin: 0;
  background-color: black;
  padding-bottom: 50px;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  color: #FFF;
  margin-bottom: 5px;
}

footer .footer_name {
  font-family: shrikhand;
  margin-left: 20px;
  padding-top: 15px;
  margin-bottom: 15px;
  color: #fff;
}

footer .p, footer .flex p {
  margin-left: 10PX;
  color: #fff;
  margin-bottom: 5px;
}

footer i {
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.fonctionnement .fonction {
  font-size: 30px;
  padding-right: 170px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fonctionnement .btn__fonctionnement {
  background-color: #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 10PX;
  width: 85%;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}

.fonctionnement .btn__fonctionnement--number {
  position: absolute;
  padding: 3px 8px 3px 8px;
  left: 5%;
  background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border-radius: 50%;
}

.fonctionnement .btn__fonctionnement i {
  font-size: 20px;
  margin-right: 20px;
}

.fonctionnement .btn__fonctionnement p {
  font-size: 20px;
}

.fonctionnement .btn__fonctionnement:hover {
  background-color: #faebfa;
}

.fonctionnement .btn__fonctionnement i:hover {
  color: #9356dc;
}

html, body {
  font-family: roboto;
}

* {
  margin: 0;
}

h1 {
  font-family: Shrikhand;
}
/*# sourceMappingURL=style.css.map */