.fonctionnement
{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    
    .fonction {
        font-size: 30px;
        width: 85%;
        font-weight: bold;
        display: FLEX;
        justify-content: flex-start;
        margin-top: 30px;
        margin-bottom: 30px;
        @include breakpoint(tablette)
        {
            justify-content: center;
        }
        
    }
    .bouton
    {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 15px;
        width: 85%;
        @include breakpoint(tablette)
        {
            display: flex;
            flex-direction: row;
            width: 90%;
            

        }
    }
    
    .btn__fonctionnement
    {
        position: relative;
        
        
        @include btn-fonctionnement;
            &--number 
            {
            position: absolute;
            padding: 3px 8px 3px 8px;
            left: 0%;
            margin-left: -15px;
            background-color: $color-primary;
            border-radius: 50%;
            font-size: 0.9em;
            color: #fff;
            }

        i 
        {
            font-size: 20px;
            margin-right: 20px;
            @include breakpoint(tablette)
        {
            margin-left: 10px;
        }
            
        }
        p 
        {
            font-size: 17px;
            @include breakpoint(tablette)
            {
                font-size: 17px;
            }
        }

        &:hover
        {
            background-color: rgb(250, 235, 250);
        }
        i:hover
        {
            color: $color-primary;
        }
    

    }    
}
