.animation{
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    bottom: 4px;
    font-size: 0;
    font-weight: bold;
    transition-duration: 0.7s;
    //background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  }

  @keyframes rotation
{
   from {
  transform: rotate(120deg);
   }
  to {
  transform: rotate(360deg);
  }
} 
@keyframes style 
{
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.meal__entree

{
  &-1
  {
    animation: style;
    animation-duration: 0.4s;
  }
  &-2
  {
    animation: style;
    animation-duration: 0.8s;
  }
  &-3
  {
    animation: style;
    animation-duration: 1s;
  }
  &-4
  {
    animation: style;
    animation-duration: 1.4s;
  }
}

.meal__plat
{
  &-1
  {
    animation: style;
    animation-duration: 1.8s;
  }
  &-2
  {
    animation: style;
    animation-duration: 2.2s;
  }
  &-3
  {
    animation: style;
    animation-duration: 2.6s;
  }
}

.meal__dessert
{
  &-1
  {
    animation: style;
    animation-duration: 3s;
  }
  &-2
  {
    animation: style;
    animation-duration: 3.4s;
  }
  &-3
  {
    animation: style;
    animation-duration: 3.8s;
  }
}

    

